# Pandas  Library
* Pandas is an open source and powerful python library
* Pandas for data Analysis and Visualization (different types of files)
* Pandas Data Structures (Series and Data Frame) and Analyze files
*import pandas as pd

In [1]:
import pandas as pd

In [2]:
# creating a series 
var_series = pd.Series([10, 20, 30, 40])

In [3]:
var_series

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# using your own index
set_index = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])

In [6]:
set_index

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# Data Frames in Pandas
# consist of 2D data row, col
# can work with csf, exel files, etc...

In [7]:
colors = ["red", "orange", "yellow", "white"]
degrees = [30, 40, 50, 60]
numbers = [11, 12, 13, 14]


# the rows will be the columns from our data structure
data_frame = pd.DataFrame(
    {"colors": colors, "degrees": degrees, "numbers": numbers},
    columns = ["colors", "degrees", "numbers"],
    index=range(1, 5)
)

In [8]:
data_frame

   colors  degrees  numbers
1     red       30       11
2  orange       40       12
3  yellow       50       13
4   white       60       14

# Reading csv Files

In [10]:
dataframe_csv = pd.read_csv("sample10.csv", low_memory=False)

In [13]:
dataframe_csv

   No   Cars  numbers  year  price
0   1   Car1      123  2005   5000
1   2   Car2      456  2006   6000
2   3   Car3      789  2007   7000
3   4   Car4     1011  2008   8000
4   5   Car5     1213  2009   9000
5   6   Car6     1415  2010  10000
6   7   Car7     1617  2011  11000
7   8   Car8     1819  2012  12000
8   9   Car9     2011  2013  13000
9  10  Car10     2356  2014  14000