
# Basics of Python | Concepts


##  Strings
* Strings are immutable

In [12]:
msg = "This is a string"
print(type(msg))

# msg2 = "+260 972 338 617"
print(type(msg2))

msg_multiline = "This is a multiple line string literal \
in python programming. \
It's very easy as you can see!"


print(msg_multiline)


# Another way to create multiple line strings
msg_multiple_line = """This is another way to create multiple line
for line text paragraph
It's easy also!"""


print(msg_multiple_line)

<class 'str'>
<class 'str'>
This is a multiple line string literal in python programming. It's very easy as you can see!
This is another way to create multiple line
for line text paragraph
It's easy also!

## Working With Strings
* Slicing a string

In [13]:
name = "patrick"

print(name[0:3]) # This prints pat

pat

In [14]:
print(name[:]) # This prints patrick

patrick

In [19]:
name[3:] # This prints rick

'rick'

In [18]:
name[-1]

'k'

In [20]:
name[-3]

'i'

In [21]:
name[-7]

'p'

In [22]:
name.lower()

'patrick'

In [24]:
name.upper()

'PATRICK'

In [25]:
name.title()

'Patrick'

In [26]:
len(name)

7

In [27]:
name.strip() # removes spaces at the beginning and the end of of a string

'patrick'

## Numbers and Math Operations

* NumberTypes: int, float and complex
* Conversions: int(), float(), and complex()
* Math operations order: (), **, *, /, +, -

In [28]:
x = 10
type(x)

int

In [30]:
int(x) # converting int to int....

10

In [31]:
float(x) # converting int to float

10.0

In [37]:
y = "11"
int(y) # converting string y to int y

11

In [38]:
z = 4.6

In [39]:
int(z) # converting float to int... Notice > The truncation

4

In [40]:
# Complex numbers
w = 9 + 7j
type(w)

complex

In [41]:
complex(90)

(90+0j)

In [42]:
complex(y)

(11+0j)

In [43]:
5 / 2

2.5

In [44]:
5 // 2 # output is an integer

2

In [45]:
2 ** 2 # exponents

4

In [46]:
11 % 3 # getting the remainder

2

In [47]:
1 % 0 # division error occurs

ZeroDivisionError: integer division or modulo by zero

In [52]:
pi = 3.145 # wrong value of pi...
print(f"value of pi to 3.dp = {pi}")

value of pi to 3.dp = 3.145

In [55]:
print(f"value of pi to 2.dp = {pi:.2f}") # notice that the fomart function rounds the value for you..

value of pi to 2.dp = 3.15

In [56]:
v = 3
type(v)

int

## List Data Structure

* A list is a mutable and ordered collection of items
* List syntax: list((1,2,3,4,5)) or [1,2,3,4,5]

In [58]:
# List creation
new_list = []
new_list1 = list()

print(new_list)
print(new_list1)

[]
[]

In [59]:
# Type of list
type(new_list)

list

In [61]:
# List of numbers
nums = [1, 2, 3, 4, 5]
nums1 = list((10, 14, 20))

print(type(nums))
print(type(nums1))

<class 'list'>
<class 'list'>

In [62]:
# List of strings
str_list = ["Red", "Green", "Blue"]
print(str_list)

['Red', 'Green', 'Blue']

In [64]:
# Multiple types in a list
mixed_list = ["blue", True, False, 1, 3, 2.342]
print(f"The mixed list: {mixed_list}")

The mixed list: ['blue', True, False, 1, 3, 2.342]

In [67]:
# List in a list (nested lists)
nums = [1, 2, [3, 4, 5, 2, 1, 4, 2], 3, 4, 5]
print(nums)

[1, 2, [3, 4, 5, 2, 1, 4, 2], 3, 4, 5]

In [71]:
# Accessing list items with the index number
print(nums[0])
print(nums[1])
print(nums[2])
print(nums[-1])

1
2
[3, 4, 5, 2, 1, 4, 2]
5

In [73]:
# Knowing the number of items in a list
len(nums)

6

In [74]:
nums[0:3]

[1, 2, [3, 4, 5, 2, 1, 4, 2]]

In [75]:
# Using the 'in' keywords to check if item is in list
str_list

['Red', 'Green', 'Blue']

In [76]:
"Red" in str_list

True

In [77]:
"Yello" in str_list

False

In [78]:
Yello in str_list

NameError: name 'Yello' is not defined

In [79]:
"Blue"  not in str_list

False

In [83]:
# Appending items to a list 
print("Before appending new color to str_list: ")
print(str_list)

print("\nAfter appeding Purple to srt_list: ")
str_list.append("Purple")
print(str_list)

Before appending new color to str_list:
['Red', 'Green', 'Blue', 'Purple', 'Purple']

After appeding Purple to srt_list:
['Red', 'Green', 'Blue', 'Purple', 'Purple', 'Purple']

In [85]:
# Inserting items at a specific index
print("Inserting White at index position 0")
str_list.insert(0, "White")
print(str_list)

Inserting White at index position 0
['White', 'White', 'Red', 'Green', 'Blue', 'Purple', 'Purple', 'Purple']

In [86]:
# Removing item from a specific position
str_list.pop(4)

'Blue'

In [87]:
str_list # Notice that blue is no longer in str_list

['White', 'White', 'Red', 'Green', 'Purple', 'Purple', 'Purple']

In [88]:
# Removing the last item in str_list
str_list.pop(-1)

'Purple'

In [89]:
str_list

['White', 'White', 'Red', 'Green', 'Purple', 'Purple']

In [110]:
# One shotcut to remove last item is using pop() without any arguments
# Note str_list has been altered
print(str_list.pop(0))
str_list[-1] = "Red"

print(f"Items remaining in str_list: \n{str_list}")

Blue
Items remaining in str_list:
['Red']

In [111]:
# Adding many items or extending i.e adding more than one item
str_list.extend(["indigo", "orange", "magenta"])
str_list

['Red', 'indigo', 'orange', 'magenta']

In [112]:
# Using del 
del str_list[0]
str_list

['indigo', 'orange', 'magenta']

In [113]:
# deleting the list entirely
del str_list

In [114]:
str_list  # error will occure since the str_list is deleted

NameError: name 'str_list' is not defined

## Tuple Data Structure
* Tuple is a collection of items
* Tuple is immutable and ordered sequence
* Syntax: tuple((1, 2, 3)) or (1, 2, 3)

In [118]:
# methods of creating tuples
nums = tuple((1, 2, 3, 4, 5, 6))
nums1 = (1, 2, 3, 4, 5, 6, 7, 8)

In [122]:
# Checking types 
print(type(nums))

<class 'tuple'>
<class 'tuple'>

In [123]:
# just calling the type() alone
type(nums1)

tuple

In [124]:
# invoking the len()
len(nums1)

8

In [125]:
# using index numbers to access items
nums1[0:3]

(1, 2, 3)

In [126]:
# tuples are immutable
nums1[1] = 10 # this causes an error

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Note; You can change the tuple's variable
# and not a specific item

In [128]:
# Checking items in a tuple
fruits = tuple(("Orange", "Cherry", "Lemon"))
fruits

('Orange', 'Cherry', 'Lemon')

In [129]:
"Orange" not in fruits

False

In [130]:
"Lemon" in fruits

True

In [132]:
# Using del to delete a tuple item
# take note of the error

del fruits[0]
fruits

TypeError: 'tuple' object doesn't support item deletion

In [133]:
# Using del to delete a tuple notice it was deleted...
del fruits
fruits

NameError: name 'fruits' is not defined

## Dictionary Sequence
* Dictionary is mutable key value pairs to store collections
* Syntax: {key: Value} or dict({key: Value})

In [ ]:
# methods of creating dictionaries...

In [139]:
top_players = {
    "Ronaldo": 36,
    "Messi"  : 34,
    "Salah"  : 37
}

more_players = dict(

    {
        "Dany": 33,
        "Sane": 24, 
        "San" : 30
    }
)

{'Ronaldo': 36, 'Messi': 34, 'Salah': 37}

In [140]:
# checking types of dictionary
print(type(top_players))
print(type(more_players))

<class 'dict'>
<class 'dict'>

In [144]:
# Inserting tuples inside a dictionary
children = dict(
    {
        ("child1", 4),
        ("child2", "5"),
        ("child3", "6"),
        ("child4", "7"),
    }
)

In [145]:
type(children)

dict

In [148]:
# Accessing elements in a dictionary using keys
print(top_players["Ronaldo"])
print(top_players["Messi"])
print(top_players["Salah"])

36
34
37

In [153]:
type(children["child1"])

str

In [155]:
# del keyword to remove item 

del top_players["Salah"]

In [156]:
top_players

{'Ronaldo': 36, 'Messi': 34}

In [157]:
# check item 

"Sala" in top_players

False

In [158]:
"Ronaldo" in top_players

True

## Sets Data Structure

* Set is unorderd and immutable collection of items
* No duplicates in sets
* Syntax: {1, 2, 3} or set([1, 2, 3])

In [164]:
# methods of creating sets
set_of_nums = set([1, 2, 3, 23, 25, 34])
set_of_nums1 = {1, 3, 4, 34 ,232 ,423 ,422}

In [166]:
# checking types
print(type(set_of_nums))
type(set_of_nums)

<class 'set'>

set

In [167]:
# Using a set() to convert string to set
set("Python")

{'P', 'h', 'n', 'o', 't', 'y'}

In [174]:
sample_set = set("Python")
type((list(sample_set)))

list

In [175]:
# a set containing a dictionary
x = set({1: "none", 3: "age"})
print(x)

{1, 3}

In [178]:
type(x)

set

In [180]:
# deleting a set
del x

In [181]:
x

NameError: name 'x' is not defined